body {
    width:700px;
    margin: 0px auto;
    background-image: url(https://images.unsplash.com/photo-1533113354171-490d836238e3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=975&q=80);
    background-size: cover;
    font-family: 'Poppins', sans-serif;
}

header {
    padding: 20px;
    margin: 20px 175px;
    border: solid;
    background-color: rgba(233, 17, 17, 0.9)
}

h1 {
    text-align: center;
}


main {
    display:flex;
    flex-direction: column;
}


#table {
    border: solid black 3px;
    margin: 20px;
    text-align: center;
    background-color: rgba(233, 17, 17, 0.9)
}

#dice {
    margin: 15px 208px;
    display: flex;
    justify-content: center;
    font-size: 40px;
    border: 5px solid;
}

#coinCenter {
    height: 50px;
}

#bottom {
    display: flex;
    justify-content: space-around;
}


.player {
    width: 300px;
    text-align: center;
}

.coins {
    text-align: center;
    margin:20px;
}

#playerOne {
    border: solid black 3px;
    margin:0 auto;
    background-color: rgba(253, 114, 21, 0.9);
}

#playerTwo {
    border: solid black 3px;
    background-color: rgba(18, 170, 216, 0.9);

    
}

#playerThree {
    border: solid black 3px;
    background-color: rgba(198, 231, 8, 0.9);
}

#diceOne {
    margin: 15px 13px 10px 13px;
}

#diceTwo {
    margin: 15px 13px 10px 13px;
}

#diceThree {
    margin: 15px 13px 10px 13px;
}

