header {
    padding: 20px;
}

h1 {
    text-align: center;
}

body {
    width:700px;
    margin: 0px auto;
}

main {
    display:flex;
    flex-direction: column;
}


#table {
    border: solid black 3px;
    margin: 20px;
    text-align: center;
}

#dice {
    margin: 20px;
}

#bottom {
    display: flex;
    justify-content: space-around;
}


.player {
    width: 300px;
    text-align: center;
}

.coins {
    text-align: center;
    margin:20px;
}

#playerOne {
    border: solid black 3px;
    margin:0 auto;
}

#playerTwo {
    border: solid black 3px;
    
}

#playerThree {
    border: solid black 3px;

}

.red {
    color: red;
}

